<template name="about">
	<!-- Head Section -->
	<section class="small-section bg-dark-lighter">
		<div class="relative container align-left">

			<div class="row">

				<div class="col-md-8">
					<h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Sobre Mim</h1>
					<div class="hs-line-4 font-alt">
						Extraordinary art team &&nbsp;creative minimalism lovers
					</div>
				</div>

				<div class="col-md-4 mt-30">
					<div class="mod-breadcrumbs font-alt align-right">
						<a href="/">Home</a>&nbsp;/&nbsp;<span>Sobre Mim</span>
					</div>

				</div>
			</div>

		</div>
	</section>
	<!-- End Head Section -->


	<!-- About Section -->
	<section class="page-section" id="about">
		<div class="container relative">

			<div class="section-text mb-60 mb-sm-40">
				<div class="row">

					<div class="col-sm-6 mb-sm-50 mb-xs-30">
						<h4 class="mt-0 font-alt">Who we are?</h4>

						<p>
							Foi a partir do meu amor por viagens e por conhecer lugares e pessoas novas que me dei conta da minha paixão pela fotografia. Ficava encantada quando as fotografias conseguiam demonstrar não somente um local estático, mas emoções e aura da pessoa, do momento ou do lugar. Aí resolvi que queria descobrir tudo sobre esse meu novo hobby. Fiz cursos, workshops, li livros, troquei ideias, busquei muito conhecimento online (obrigada internet!), conheci o trabalho de muita gente, vi filmes, visitei exposições, fotografei amigos... E comecei mais ainda a enxergar a luz de cada lugar e ver beleza onde antes talvez tivesse passado despercebido.
						</p>
						<p>
							Alguns anos depois de descobrir este mundo, percebi que queria que a fotografia fosse mais do que um hobby. Então abri mão do meu emprego público de engenheira química e finalizei meu mestrado para conseguir mergulhar na minha paixão. Agora fotografo pessoas,  mulheres, homens, crianças, famílias. Mas com poucas fotos posadas e nada de estúdio. Prefiro a luz natural e adoro fotos espontâneas. Gosto de fotos que expressem a personalidade do fotografado e procuro ressaltar sentimentos para que as expressões capturadas sejam o mais genuínas possíveis! Os ensaios acabam sendo momentos de entrega e diversão, um tempo para se conectar com a família ou consigo mesmo e no qual eu coloco todo o meu amor e dedicação para que o resultado seja o mais verdadeiro.
						</p>
						<p>
							Seja bem vindo ao meu site, espero que goste! :)
						</p>
					</div>

					<div class="col-sm-6 mb-sm-50 mb-xs-30">

						<div class="team-item">
							<div class="team-item-image">
								<img src="/images/team-2.jpg" alt="Morgana Secco" />
							</div>

							<div class="team-item-descr font-alt">
								<div class="team-item-name">
									Morgana Secco
								</div>
								<div class="team-item-role">
									Fotógrafa
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End About Section -->


	<!-- Divider -->
	<hr class="mt-0 mb-0 "/>
	<!-- End Divider -->


	<!-- Call Action Section -->
	<section class="small-section bg-dark">
		<div class="container relative">

			<div class="align-center">
				<h3 class="banner-heading font-alt">Quer conhecer mais meu trabalho?</h3>
				<div>
					<a href="/contact" class="btn btn-mod btn-w btn-medium btn-round">Vamos conversar</a>
				</div>
			</div>

		</div>
	</section>
	<!-- End Call Action Section -->
</template>