<template name="galleries">

	<form class="form-inline">
		<div class="form-group">
			<div class="input-group">
				<input id="search-txt" type="text" class="form-control" placeholder="Buscar">
				<div class="input-group-btn">
					<button id="search-btn" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>
			<button id="add-btn" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button>
		</div>
	</form>

	<div class="row ">
		{{#each galleries}}
		<div class="col-sm-4 top-buffer">
			{{> galleryThumbnail}}
		</div>			
		{{/each}}
	</div>

</template>