<template name="postThumbnail">
	<div class="post-prev-img">
		<a href="{{pathFor 'postShow' slug=slug}}">
			<img src="{{cover.urlThumb}}" alt="{{cover.title}}" /></a>
	</div>

	<div class="post-prev-title font-alt">
		<a href="{{pathFor 'postShow' slug=slug}}"> {{title}} </a>
	</div>

	<div class="post-prev-info font-alt">
		<a href="{{pathFor 'postShow' slug=slug}}"> Morgana Secco </a>
	</div>

	<div class="post-prev-text">
		{{text}}
	</div>

	<div class="post-prev-more">
		<a href="{{pathFor 'postShow' slug=slug}}" class="btn btn-mod btn-gray btn-round">
			Veja Mais <i class="fa fa-angle-right"></i></a>
	</div>
</template>
