<template name='postShow'>
	<!-- Section -->
	<section class="page-section">
		<div class="container relative">                    
			<div class="row">                        
				<!-- Content -->
				<!-- <div class="col-sm-10 col-sm-offset-1"> -->
				<div class="col-sm-12">
					<!-- Post -->
					<div class="blog-item mb-80 mb-xs-40">

						<!-- Text -->
						<div class="blog-item-body">

							<h1 class="mt-0 font-alt">{{title}}</h1>

							<div class="lead">
								<p>{{text}}</p>
							</div>
							<!-- End Text -->

							{{> galleryJustified this}}

						</div>
						<!-- End Text -->

					</div>
					<!-- End Post -->                            
				</div>
				<!-- End Content -->                        
			</div>                    
		</div>
	</section>
	<!-- End Section -->
</template>
