<template name="postThumbnail">
  <div class="post-prev-img">
    <a href="{{pathFor 'postShow' slug=slug}}">
      <img src="{{cover.urlMicro}}"
        srcset="{{cover.urlVeryLarge}} 1600w,
          {{cover.urlLarge}} 1024w,
          {{cover.urlMedium}} 640w,
          {{cover.urlSmall}} 320w"
        sizes="(min-width: 767px) 345px,
          (min-width: 992px) 293px,
          (min-width: 1200px) 360px,
          50vw"
        alt="{{cover.title}}" />
    </a>
  </div>

  <div class="post-prev-title font-alt">
    <a href="{{pathFor 'postShow' slug=slug}}"> {{title}} </a>
  </div>

  <div class="post-prev-info font-alt">
    <a href="{{pathFor 'postShow' slug=slug}}"> Morgana Secco </a>
  </div>

  <div class="post-prev-text">
    {{truncate text 150}}
  </div>

  <div class="post-prev-more">
    <a href="{{pathFor 'postShow' slug=slug}}" class="btn btn-mod btn-gray btn-round">
      Veja Mais <i class="fa fa-angle-right"></i></a>
  </div>
</template>
