<template name="home">
	<div class="fullscreen-bg"></div>
	<!-- <img class="bg" src="images/Koala.jpg"> -->
	<div class="col-sm-8 col-sm-offset-2 home-margin">
		<!-- <h1 class="text-center">Morgana Secco</h1> -->
		<p class="lead"></p>
	</div>
	<div>
		<ul>
			<!-- <li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li>
			<li>yolo</li> -->
		</ul>
	</div>
</template>
