<template name="galleryUpdate">
  <form>
    <div class="form-group">
      <label for="galleryTitle">Título</label>
      <input id="galleryTitle" type="text" class="form-control" value="{{title}}" placeholder="{{title}}">
    </div>
    <div class="form-group checkbox">
      <label>
        <input id="galleryFeatured" type="checkbox" checked="{{featured}}"> Galeria em destaque
      </label>
    </div>
    <div class="form-group">
      <button id="save-gallery-btn" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-disk"></i> Salvar</button>
      <button id="delete-gallery-btn" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Deletar Galeria</button>
    </div>

    <hr>

    <div class="form-group">
      {{> fileUploader galleryId = this._id}}
    </div>

    <hr>

    <div class="form-group">
      <button id="select-all-photos-btn" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Selecionar Todos</button>
      <button id="unselect-all-photos-btn" class="btn btn-default"><i class="glyphicon glyphicon-ok"></i> Deselecionar Todos</button>
      <button id="delete-photos-btn" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Deletar Selecionados</button>
      <div class="row">
        {{#each photos}}
        <div class="col-sm-2 col-xs-6 top-buffer">
          <div class="photo-thumbnail" data-photo-id="{{_id}}">
            {{> squareThumbnail}}
            <div class="photo-check"><i class="glyphicon glyphicon-ok"></i></div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </form>
</template>
