<template name="galleries">
	<h1>Galerias</h1>
	<form>
		<div class="form-group">
			<div class="input-group">
				<input id="search-txt" type="text" class="form-control" placeholder="Buscar">
				<div class="input-group-btn">
					<button id="search-btn" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
				</div>
			</div>
		</div>
	</form>

	{{#if isInRole 'admin'}}
		<button id="add-gallery-btn" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> Criar Galeria</button>
		<button id="delete-galleries-btn" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Deletar Selecionados</button>
	{{/if}}

	<div class="row ">
		{{#each galleries}}
		<div class="col-sm-4 col-xs-6 top-buffer">
			{{> galleryThumbnail}}
		</div>
		{{/each}}
	</div>
</template>
