<template name="appHeaderOld">
  <nav class="navbar navbar-fixed-top transparent">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <i class="fa fa-bars"></i>
        </button>
        <a class="navbar-brand" href="/">Morgana Secco</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          {{#each dynamicMenuItems}}
          <li class="{{isPostActive _id}}"><a href="/posts/{{_id}}" class="hidden-xs">{{title}}</a></li>
          <li class="{{isPostActive _id}}">
            <a href="/posts/{{_id}}" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">{{title}}</a>
          </li>
          {{/each}}
          {{#each staticMenuItems}}
          <li class="{{isActive route}}"><a href="{{ route }}" class="hidden-xs">{{text}}</a></li>
          <li class="{{isActive route}}">
            <a href="{{ route }}" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">{{text}}</a>
          </li>
          {{/each}}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {{> loginButtons}}
          {{#if isInRole 'admin'}}
          <li><a href="/admin" class="hidden-xs"><i class="glyphicon glyphicon-cog"></i></a></li>
          <li>
            <a href="/admin" class="visible-xs" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="glyphicon glyphicon-cog"></i>
            </a>
          </li>
          {{/if}}
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
</template>
