<template name="appHeader">
    <nav class="main-nav transparent stick-fixed">
        <div class="full-wrapper relative clearfix">
            <!-- Logo ( * your text or image into link tag *) -->
            <div class="nav-logo-wrap local-scroll">
                <a href="/" class="logo">
                    <img src="images/morgana_marca_preto.png" alt="Morgana Secco Fotografia" />
                    <!-- <img src="images/morgana_coracao_preto.png" alt="Morgana Secco Fotografia" /> -->
                </a>
            </div>
            <div class="mobile-nav">
                <i class="fa fa-bars"></i>
            </div>

            <!-- Main Menu -->
            <div class="inner-nav desktop-nav">
                <ul class="clearlist">
                    <!-- Item With Sub -->
                    <li>
                    <a href="#" class="mn-has-sub">Portfolio <i class="fa fa-angle-down"></i></a>
                        <!-- Sub -->
                        <ul class="mn-sub">
                            {{#each dynamicMenuItems}}
                            <li>
                                <a href="/posts/{{_id}}" class="{{isPostActive _id}}">{{title}}</a>
                            </li>
                            {{/each}}
                        </ul>
                        <!-- End Sub -->
                    </li>
                    <!-- End Item With Sub -->

                    {{#each staticMenuItems}}
                    <li>
                        <a href="{{ route }}" class="{{isActive route}}">{{text}}</a>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <!-- End Main Menu -->

        </div>
    </nav>
</template>
