<template name="login">
	<div class="docBounds">
		{{#if currentUser}}
		{{> dashboard}}
		{{else}}
		<h2>Login</h2>
		<p>Ainda não cadastrou-se? <a href="/signup">Fazer o cadastro</a></p>
		<form>
			<div class="form-group">
				<label for="loginEmail">Endereço de email:</label>
				<input type="email" class="form-control" id="loginEmail" name="loginEmail" placeholder="eu@email.com">
			</div>
			<div class="form-group">
				<label for="loginPassword">Senha:</label>
				<input type="password" class="form-control" id="loginPassword" name="loginPassword" placeholder="Senha">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary form-control">Sign in</button>
			</div>
			<p><a href="/signup">Esqueceu a sua senha?</a></p>
		</form>
		{{/if}}
	</div>
</template>