<template name="signup">
	<div class="docBounds">
		{{#if currentUser}}
		{{> dashboard}}
		{{else}}
		<h2>Cadastro</h2>
		<p>Já é membro? <a href="/login">Fazer login</a></p>
		<form>
			<div class="form-group">
				<label for="signupEmail">Endereço de email:</label>
				<input type="email" class="form-control" id="signupEmail" name="signupEmail" placeholder="eu@email.com">
			</div>
			<div class="form-group">
				<label for="signupPassword">Senha:</label>
				<input type="password" class="form-control" id="signupPassword" name="signupPassword" placeholder="Senha">
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary form-control">Criar</button>
			</div>
		</form>
		{{/if}}
	</div>
</template>
